@page
@{
    ViewData["Title"] = "cashSpot";
}
@model cashSpot.Web.Pages.IndexModel

<div class="text-center">
    <h1 class="display-4">cashSpot</h1>
    <p>Dein Budget-Planner</p>

    @if(Model.CalculatedBudged != null) {
<table class="table table-bordered table-hover">
    @foreach (var item in Model.CalculatedBudged.BudgetItems) {

    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.PlannedMonthlyAmount
        </td>
        <td>
            @item.AmountDifference
        </td>
        <td>
            @item.ActualAmount
        </td>
    </tr>
    }
<tr>
    <td>
        Nicht zugeordnete Einnahmen/Ausgaben
    </td>
    <td> 
    </td>
    <td> 
    </td>
    <td>
        @Model.CalculatedBudged.NonAssignedMoneyBookingAmount
    </td>
</tr>
<tr>
    <td>
        Saldo
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
        @Model.CalculatedBudged.Balance
    </td>
</tr>
</table>
            }
</div>
