@page
@model cashSpot.Pages.MoneyBookings.DeleteModel

<h3>Soll die Einnahme/Ausgabe wirklich weg?</h3>
<div>
    <h4>Einnahme/Ausgabe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoneyBooking.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoneyBooking.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoneyBooking.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoneyBooking.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoneyBooking.RecurringInterval)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoneyBooking.RecurringInterval)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoneyBooking.ReccurdingIntervalMultiplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoneyBooking.ReccurdingIntervalMultiplier)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MoneyBooking.Id" />
        <input type="submit" value="Weg damit" class="btn btn-danger" /> |
        <a asp-page="./Index">Zurück zur Übersicht</a>
    </form>
</div>
