@page
@model cashSpot.Pages.MoneyBookings.IndexModel

<p>
    <a asp-page="Create">Neue Einnahme/Ausgabe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MoneyBooking[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoneyBooking[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoneyBooking[0].RecurringInterval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoneyBooking[0].ReccurdingIntervalMultiplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MoneyBooking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecurringInterval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReccurdingIntervalMultiplier)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Ändern</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Weg Damit</a>
            </td>
        </tr>
}
    </tbody>
</table>
